/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body { word-wrap: break-word;}

a, a:active, a:visited { color: inherit; }

::-moz-selection {
    background: #729871;
    text-shadow: none;
}

::selection {
    background: #729871;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #aeaeae;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #aeaeae;
    color: #000;
    padding: 0.2em 0;
}

th {
    text-align: left;
}
td, th {
    padding-left: 1em;
}

/*******************************************/
/* CSS TEMPLATE                            */
/* To be used with a reset, or Initializr  */
/* @author Amy Guy (rhiaro.co.uk)          */
/* @date 6th December 2011                 */
/* @last-updated 18th Mar 2013              */
/*******************************************/

/** 
    0.0 Accessibility
**/
    .no-css {
        /* This class hides stuff that needs to be around for screenreaders
         * or users with no CSS, but not in normal circumstances
         */
        position: absolute; left: -1000px;
    }

    @media screen and (min-width: 768px){
        .mob {
            display: none; visibility: hidden;
        }
    }

/** 
    1.0 Typography
**/

    body {
        font-size: 1em;
        line-height: 1.4;
        font-family: "Bitter", Georgia, Times, serif;
        text-align: center;
    }

    h1 { font-size: 5em; font-weight: normal; line-height: 0.8; text-align: center; text-transform: uppercase; font-family: "Londrina Sketch"; }
    h2 { font-size: 4em; font-weight: normal; font-family: "Londrina Sketch", Arial, Helvetica, sans-serif; text-transform: lowercase; line-height: 0.8;}
    h3 { font-size: 1.8em; font-weight: normal; font-family: "Londrina Sketch", Arial, Helvetica, sans-serif;}
    h3:first-of-type { margin-top: -0.1em; }
    h4 { font-size: 1.4em; font-weight: bold;}
    h5 {}

    a {text-decoration: underline;}
    a:hover { text-decoration: underline; }
    
    nav { text-transform: lowercase; font-size: 2.4em; font-style: italic; text-align: center;}
    h1 a, h2 a, h3 a, h4 a, hgroup, hgroup a, hgroup a:hover, nav a, .nav2 a, nav a:hover, .nav2 a:hover, a i, a:hover i, .nobul a { text-decoration: none !important; } /* shutup, need to override font awesome */

    .nav2 { font-size: 1em; text-align: left;}
    .menu-icon { font-size: 2.4em; text-align: left;}
    .btn-back { font-size: 2em; text-decoration: none; text-align: left;}
    .btn-back a, .btn-back a:hover {text-decoration:none;} 

    .note {
      font-size: 1em;
      font-weight: bold;
      text-align: right;
    }

    .wee, footer {
      font-size: 0.8em;
    }

    .win, .fail {}
    ul.nobul, ul.win, ul.fail, .nav2 { list-style-type: none;}

    .upp { text-transform: uppercase; }
    .low { text-transform: lowercase; }
    .cap { text-transform: capitalize; }
    .align-left { text-align: left;}
    .align-right { text-align: right;}
    .align-center { text-align: center;}

    button, .btn, .btn-big {
      text-align: center;
    }

    button a, .btn a, .btn-big a {
      text-decoration: none;
    }

    footer a {
        text-decoration: underline;
    }

    @media screen and (min-width: 479px){

        h1, h2 { text-align: right;}
        nav { font-size: 2.4em; text-align: left;}
        .btn-back { text-align: center;}

    }

    @media screen and (min-width: 768px){

        h1, h2 { text-align: center;}
        h2 { font-size: 2em; font-weight: bold;}
        nav { font-size: 1.2em; text-align: right;}
        .nav2 { text-align: right;}
    }

/*  1.3     */
    @media screen and (min-width: 1024px){

        h2 { font-size: 2.8em; font-weight: normal;}
        nav { font-size: 1.6em;}
        .nav2 { font-size: 1.4em; }

    }

/*  1.4     */
    @media screen and (min-width: 1200px){

        h2 { font-size: 4em;}
        nav { font-size: 2.2em;}

    }


/** 
    2.0 Colors, shadows, borders
**/
    
    /* Borders */
      .win, .fail, .border, .color1-border, .color2-border, .color3-border, .dark-border, .light-border { border: 2px solid;}
      .hborder { border: solid; border-right: 0px; border-left: 0px; }
      .vborder { border: solid; border-top: 0px; border-bottom: 0px; }
      input, textarea { border: 1px solid silver; }

      .tri-holder { width: 100%; display: inline-block;}
      .tri-up {
        width: 0px; height: 0px;
        display: inline-block;
        border-style: solid;
        border-width: 0 10px 10px 10px;
      } 
      .tri-l {
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 10px 20px 10px 0;
        display:none;
      }

    a:link, a:visited { color: inherit;}
    
    /* Dark */
        .dark, h1 { color: #2d2d2d;  }
        .dark-bg{ background-color: #2d2d2d; }
        .dark-texture { background-color: #2d2d2d; background-repeat: repeat;}
        .dark-border { border-color: #2d2d2d; }
        .dark-gradient {}
        .dark-hov:hover { color: #2d2d2d; }
    /* Darker */
        .darker { color: #000; }
        .darker-bg{ background-color: #000; }
        .darker-texture { background-color: #000; }
        .darker-border { border-color: #000; }
        .darker-gradient {}
        .darker-hov:hover { color: #000; }

    /* Primary Color (dark green) */
        .color1, h2{ color: #729871;}
        .color1-bg, .menu-tweak{ background-color: #729871;}
        .color1-texture { background-color: #729871; background-image:url('../img/col1.jpg'); background-repeat: repeat;}
        .color1-border{ border-color: #729871;}
        .color1-gradient {}
        .color1-hov:hover { color: #729871; }
        
    /* Secondary Color (medium green) */
        .color2 { color: #92C492;}
        .color2-bg{ background-color: #92C492;}
        .color2-texture { background-color: #92C492; background-image:url('../img/col2.jpg'); background-repeat: repeat;}
        .color2-border{ border-color: #92C492;}
        .color2-gradient {}
        .color2-hov:hover { color: #92C492;}
        .color2bg-hov:hover { background-color: #92C492;}
        .color2border-hov { border-color: transparent;}
        .color2border-hov:hover { border-color: #92C492;}

    /* Teritiary Color (pale green) */
        .color3 { color: #c1dec0;}
        .color3-bg{ background-color: #c1dec0;}
        .color3-texture { background-color: #c1dec0; background-image:url('../img/col3.jpg'); background-repeat: repeat; }
        .color3-border{ border-color: #c1dec0;}
        .color3-gradient {}
        .color3-hov:hover { color: #c1dec0;}
        .color3bg-hov:hover { background-color: #c1dec0;}
        .color3border-hov { border-color: transparent;}
        .color3border-hov:hover { border-color: #c1dec0;}
        .color3-shadow, h1, h2 { text-shadow: 1px 1px 1px #c1dec0; }

    /* Light */
        .light { color: #aeaeae; }
        .light-bg{ background-color: #aeaeae; }
        .light-texture {background-color: #ededed; background-repeat: repeat;}
        .light-border {border-color: #aeaeae; }
        .light-gradient {}
        .light-hov:hover { color: #aeaeae; }
        .tri-up.light { border-color: transparent transparent #aeaeae transparent; }
        .tri-l.light { border-color: transparent #aeaeae transparent transparent; }
        .light-shadow { text-shadow: 1px 1px 1px #aeaeae; }
    /* Lighter */
        .lighter{ color: #fff; }
        .lighter-bg{ background-color: #fff; }
        .lighter-texture {}
        .lighter-border {border-color: #fff; }
        .lighter-gradient {}
        .lighter-hov:hover { color: #fff; }

    .note { color: silver; }

    .win {
      background-color: #E6EFC2;
      color:#264409;
      border-color:#C6D880;
    }

    .fail {
      background:#FBE3E4;
      color:#8a1f11;
      border-color:#FBC2C4;
    }

    .btn a, input.btn {
        border: 1px solid;
        border-radius: 10px;
    }

    @media screen and (min-width: 768px){
        .menu-tweak { background-color: #92C492; background-image:url('../img/col2.jpg'); background-repeat: repeat; }
    }

/** 
    3.0 Spacing / Grid
**/

    .wrapper { width: 100%; }

    /* Grid */
    .w1of1, .w1of2, .w1of3, .w1of4, .w1of5,
    .w2of3, .w3of4, .w2of5, .w3of5, .w4of5,
    .w1of6, .w1of16 {
        width: 100%; 
    }

    .inner { padding: 0.6em; }
    .unpad { padding: 0; margin: 0;}

    .nav2 { margin:0em; padding: 0; }
    .nav2 a { display: block; width: 100%; padding: 0.5em 0.2em 0.5em 0.2em;}

    .h2-1, .h2-2 { display: block;}

    .menu-icon { padding: 0; margin: 0;}
    .menu-icon i { padding: 0.2em; }

    h1, h2 { margin: 0; padding: 0;}
    h2 { padding-bottom: 0.4em;}
    h3 { margin-bottom: -1em; }

    nav {
        width: 100%;
        max-width: 100%;
    }
    
    nav a, .btn-back a {
        display: block;
        padding: 0;
    }
    nav ul li ul { display: none; } /* Hide submenus on small */

    .btn-back { padding: 0; margin: 0;}
    .btn { display: inline-block; margin: 0; padding: 0;}
    button {
      padding: 0.5em;
    }
    .btn a, .btn-big a {
      padding: 0.5em;
      display: block; width: 100%;
    }
    input.btn { padding: 0.5em; }

    input, textarea { padding: 0.2em; }

    label.neat {
        display: inline-block;
        width: 5.6em;
    }
    input.neat {
        display: inline-block;
        width: 75%;
    }
    label.neat-big {
        display: inline-block;
        width: 100%;
    }
    input.neat-big, textarea.neat-big, textarea.neat {
        display: inline-block;
        width: 90%;
    }
    textarea.neat, textarea.neat-big {
        height: 10em;
    }

    .inline { display: inline; }
    .right { float: right; }
    .left { float: left; }

    .win, .fail {
      padding: 0.2em;
      display: block;
    }

/*  3.1     */
    @media screen and (min-width: 479px){

        hgroup, nav { width: 50%; float: left;}
        h1, h2 { margin-right: 10px;}
        nav a { margin-left: 10px;}
        /*nav a { float: left; }*/

    }

/*  3.2     */
    @media screen and (min-width: 768px){

        .w1of2 { width: 50%; float: left; }
        .w1of3 { width: 33%; float: left; }
        .w1of4 { width: 25%; float: left; }
        .w1of5 { width: 20%; float: left; }
        .w1of6 { width: 16%; float: left; }
        .w2of3 { width: 66%; float: left; }
        .w3of4 { width: 75%; float: left; }
        .w2of5 { width: 40%; float: left; }
        .w3of5 { width: 60%; float: left; }
        .w4of5 { width: 80%; float: left; }

        .w1of16 { width: 6.25%; float: left;}

        .w1of3:nth-child(odd) { clear: none; }
        .w1of3:nth-child(3n-2) { clear: both; }

        .tall { height: 100%; min-height: 100%;}

        hgroup, nav { width: 100%;}

        .padmore { padding: 2.4em;}
        .content { height: 100%; overflow-y: scroll;}
        .content .inner { padding-left: 32px; padding-top: 64px;}
        nav a { display: block; float: none; }
        .nav2 a { padding-right: 0.5em;}

        .tri-l { margin-top: 0.8em;}

        h1 { padding: 0.67em 0 0 0; }
        h2 { padding: 0.67em 0; }

        .pos2 { position: absolute; top: 0; left: 16%; padding-top: 8em;}
        .pos3 { position: absolute; top: 0; left: 49%;}
        .menu-icon { display: none;}

    }

/*  3.3     */
    @media screen and (min-width: 1024px){

        .wrapper { 
            width: 80%; max-width: 1000px; 
            margin-left: auto; margin-right: auto;
        }

    }

/*  3.4     */
    @media screen and (min-width: 1200px){}


/** 
    4.0 Images & video
**/

    .vid-holder {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        text-align: center;
    }

    .vid-holder iframe,  
    .vid-holder object,  
    .vid-holder embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* Full width images on bigger than small screens are dumb. Reset this. */
    @media screen and (max-width: 478px){
      .w1of1 img, .w1of2 img, .w1of3 img, .w1of4 img, .w1of5 img,
      .w2of3 img, .w3of4 img, .w2of5 img, .w3of5 img, .w4of5 img {
        width: 100%;
      }
    }



/* =========================
    Blogger specific stuff
    ======================== */

    .status-msg-wrap { display: none;}



/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}